#system-monitor {
  position: relative;
  width: 1920px;
  height: 1080px;

  background: #f8fbff;
}

#system-monitor::before {
  position: absolute;
  width: 1920px;
  height: 1080px;
  left: 0px;
  top: 0px;

  background: linear-gradient(
    180deg,
    rgba(248, 251, 255, 0.79) -3.85%,
    rgba(239, 204, 242, 0.553) 27.23%,
    rgba(202, 158, 255, 0.79) 62.98%,
    rgba(134, 137, 247, 0.79) 107.53%
  );
  backdrop-filter: blur(8.175px);
  content: '';
}

#system-monitor .title-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 30px;
  gap: 10px;

  position: absolute;
  width: 1086px;
  height: 93px;
  left: 60px;
  top: 60px;

  background: radial-gradient(
      41.98% 106.05% at 86.61% 131.21%,
      #fcc9ca 0%,
      rgba(248, 147, 170, 0) 100%
    ),
    radial-gradient(
      43.47% 109.8% at 50.06% 117.65%,
      rgba(39, 165, 255, 0.7) 0%,
      rgba(132, 204, 255, 0.1) 98.99%
    ),
    radial-gradient(
      66.82% 228.09% at 61.06% -3.92%,
      #efa4fa 6.83%,
      rgba(228, 133, 242, 0) 100%
    ),
    radial-gradient(
      77.3% 195.26% at 5.37% -11.6%,
      #9296ff 0%,
      rgba(37, 45, 235, 0.58) 51.6%,
      rgba(145, 149, 247, 0) 100%
    );
  border-radius: 30px;
}

#system-monitor .title-area .title {
  width: 386px;
  height: 30px;

  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;

  color: #ffffff;

  flex: none;
  order: 0;
  flex-grow: 0;
}

#system-monitor .title-area .subtitle {
  width: 529px;
  height: 24px;

  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: right;

  color: #ffffff;
  opacity: 0.7;

  flex: none;
  order: 1;
  flex-grow: 0;
}

#system-monitor .chart-area {
  /* Frame 2087335270 */

  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 30px 36px;

  position: absolute;
  width: 684px;
  height: 960px;
  left: 1173px;
  top: 60px;

  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 30px;
}

#system-monitor .chart-area .inner-chart-area {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;

  width: 612px;
  height: 900px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
