#system-architecture {
  position: relative;
  width: 1087px;
  height: 831px;
  left: 59px;
  top: 189px;

  background-image: url('../assets/images/system-architecture/bg.png');
}

#system-architecture .hpc-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 14px;

  position: absolute;
  width: 289px;
  height: 41px;
  left: 36px;
  top: 30px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#system-architecture .hpc-area .hpc {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 9px;

  width: 69px;
  height: 41px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

#system-architecture .hpc-area .hpc .text {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 9px;

  width: 69px;
  height: 41px;

  flex: none;
  order: 1;
  flex-grow: 0;

  /* text */

  width: 69px;
  height: 41px;

  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 41px;
  /* identical to box height */
  display: flex;
  align-items: center;

  color: #1d1d1d;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

#system-architecture .hpc-area .gray-box {
  /* Frame 2085667521 */

  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  gap: 10px;

  width: 206px;
  height: 37px;

  background: rgba(62, 69, 117, 0.1);
  border-radius: 24px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

#system-architecture .hpc-area .gray-box .syspower {
  /* Sys. Power. 300W */

  width: 174px;
  height: 25px;

  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;

  color: #3e4575;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

#system-architecture .module {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 16px;
  gap: 12px;

  background: #ffffff;
  border: 2px solid #16b56b;
  border-radius: 14px;
}

#system-architecture .module.error {
  background: rgba(255, 130, 130, 0.3);
  border: 2px solid #eb3437;
}

#system-architecture .module .module-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  padding: 0px;
  gap: 8px;

  /* width: 126px; */
  height: 31px;

  flex: none;
  order: 0;
  flex-grow: 0;

  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;

  color: #1d1d1d;
}

#system-architecture .module .module-info {
  /* Frame 2087335299 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0px;
  gap: 8px;

  width: 100%;
  min-height: 56px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
}

#system-architecture .health24 {
  box-sizing: border-box;

  position: absolute;
  width: 24px;
  height: 24px;

  background: #16b56b;
  border: 2.66667px solid #242849;
  border-radius: 100%;
}

#system-architecture .health24.err {
  background: #f3474a;
  border: 2px solid #242849;
}

#system-architecture .health18 {
  box-sizing: border-box;

  position: absolute;
  width: 18px;
  height: 18px;

  background: #16b56b;
  border: 2.66667px solid #242849;
  border-radius: 100%;
}

#system-architecture .health18.err {
  background: #f3474a;
  border: 2px solid #242849;
}

#system-architecture .ps16 {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 12px;

  min-width: 70px;
  min-height: 27px;

  background: #16b56b;
  border-radius: 30px;

  height: 19px;

  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;

  color: #ffffff;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

#system-architecture .ps16.err {
  background: #f3474a;
}

#system-architecture .ps16.warn {
  background: #ffc60a;
}

#system-architecture .ps-linux {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 12px;

  min-width: 90px;
  min-height: 27px;

  background-image: url('../assets/images/system-architecture/ps-linux-normal.png');
  border-radius: 30px;

  height: 19px;

  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;

  color: #ffffff;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

#system-architecture .ps-linux.err {
  background-image: url('../assets/images/system-architecture/ps-linux-error.png');
}

#system-architecture .ps-linux.warn {
  background-image: url('../assets/images/system-architecture/ps-linux-warn.png');
}

#system-architecture .ps-android {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 12px;

  min-width: 90px;
  min-height: 27px;

  background-image: url('../assets/images/system-architecture/ps-android-normal.png');
  border-radius: 30px;

  height: 19px;

  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;

  color: #ffffff;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

#system-architecture .ps-android.err {
  background-image: url('../assets/images/system-architecture/ps-android-error.png');
}

#system-architecture .ps-android.warn {
  background-image: url('../assets/images/system-architecture/ps-android-warn.png');
}

#system-architecture .module .module-info .module-ps {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px;
  gap: 9px;

  width: 100%;
  height: 24px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 1;

  background-image: url('../assets/images/system-architecture/img-ok.png');
  background-position: right center;
  background-repeat: no-repeat;
  background-size: auto;

  /* Text alignment */
  text-align: left;
}

#system-architecture .module .module-info .module-ps.err {
  background-image: url('../assets/images/system-architecture/img-err.png');
}

#system-architecture .module .module-info .module-health {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px;
  gap: 8px;

  width: 100%;
  height: 24px;

  flex: none;
  order: 1;
  flex-grow: 0;

  background-image: url('../assets/images/system-architecture/img-ok.png');
  background-position: right center;
  background-repeat: no-repeat;
  background-size: auto;

  /* Text alignment */
  text-align: left;
}

#system-architecture .module .module-info .module-health.err {
  background-image: url('../assets/images/system-architecture/img-err.png');
}
