#thermal-monitoring {
  /* Frame 2087335385 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
  position: relative;

  width: 612px;
  height: 638px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

#thermal-monitoring .inner-frame {
  /* Frame 2087335296 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;

  width: 612px;
  height: 893px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

#thermal-monitoring .inner-frame .title {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 9px;

  width: 405px;
  height: 29px;

  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  display: flex;
  align-items: center;
  color: #1d1d1d;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
